select {background-image: linear-gradient(to right, #fffc00 0%, #ffffff  51%, #fffc00  100%)}
select {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;            
    box-shadow: 0 0 20px #eee;
    border: 0px;
    border-radius: 10px;
    display: block;
  }

select:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
  }
 