#cardContainer {
  width: 500px;
  border: 0px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  color: black;
  background-color: white;
  box-shadow: 0 1px 15px 5px rgb(0 0 0 / 12%);
  margin: 15px 0px 15px 0px;
  transition: 100ms;
  font-size: 15px;
}
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#cardContainer:hover {
  transform: scale(1.2);
}
