#actButton {
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    width: 200px;
    background-color: transparent;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 0px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    border: 0.001px rgb(255, 255, 255) thin;
}

#actButton:hover {
    background-color: black;
    color: #fff;
    text-decoration: none;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}